/* Tables ****************************************************************** */

tr.total {
    font-weight: 700;
    font-size: 14px;
}
table td.incumbent, table td.contractor {
    cursor: pointer;
}
table thead th.sorted {
    background: url('http://static.wamu.org/g/madden/sort_arrow.svg') no-repeat right 10%;
    text-decoration: underline;
}
table thead th.sorted.false {
    background: url('http://static.wamu.org/g/madden/sort_arrow_up.svg') no-repeat right 10%;
}
table td.incumbent:hover, table td.contractor:hover {
    text-decoration: underline;
}
/* Base */

#base {
    margin-left: auto;
    margin-right: auto
}
/*a, a:visited, a:hover{
  color: steelblue;
}*/
/* Tables */
/*td.year-1{
  background-color: rgb(231,236,238);
}
td.year-2{
  background-color: rgb(175,182,187);
}
*/

select {
    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    position: relative;
}
rect.extent {
    fill: rgba(180, 180, 180, 0.25);
}
th {
    cursor: pointer;
}
td.year-1.in-range {
    /*color:rgb(23,105,175);*/
    
    font-weight: 500;
    color: rgb(32, 47, 63);
    /*text-decoration: underline;*/
}
td.percent_in_1 span.whoa {
    color: #FF7A00;
    font-weight: 900;
}
td.percent_in_2 span.whoa {
    /*color: #F37061;*/
    
    font-weight: 900;
}
td.year-2.in-range {
    /*color:rgb(32,128,216);*/
    
    color: rgb(38, 56, 77);
    font-weight: 500;
    /*text-decoration: underline;*/
}
#contributions-table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#contractor-table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
}
/* Total */

#contributions-total {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.0em;
}
text {
    font-size: 8px;
}
.bar-plot .y.axis text {
    font: 12px sans-serif;
}
.bar-plot.pull .y.axis text {
    font: 9px sans-serif;
}
.bar-plot.pull {
    min-height:300px;
}
.bar-plot.official{
    height:300px;
}
@media(max-width:480px){
.bar-plot.official .y.axis text {
    font: 8px sans-serif;
}

}

.axis text {
    font: 10px sans-serif;
}
.y.axis line {
    fill: none;
    stroke: none;
    /*shape-rendering: crispEdges;*/
}
path.trend {
    stroke: rgba(180, 180, 180, 0.5);
    stroke-width: 6;
}
g.x.axis g.tick line {
    stroke: #ccc;
    shape-rendering: crispEdges;
    stroke-width: 1;
    stroke-dasharray: 1px 5px;
    pointer-events: none;
}
.bar-plot .x.axis path {
    stroke: none;
}
svg.bar-plot {
    width: 100%;
    height: 150px;
}
svg.bar-plot g.rects rect {
    fill:#dfdfdf;
    
    stroke: none;
}
svg.bar-plot g.rects rect:hover {
    fill:#888;
}
svg.bar-plot.big {
    height: 350px;
}
.x.axis g.tick text {
    text-anchor: end;
}
/*
g.marker text{
  font: 10px sans-serif;
  stroke:none;
  cursor: pointer;
}
g.marker line{

  cursor:pointer;
  fill:none;
}
g.marker rect{
  fill:orangered;
}

*/

svg.line-plot path.line {
    fill: none;
    stroke: #222;
    stroke-width: 1px;
}
svg.line-plot {
    width: 100%;
    height: 300px;
}
svg.line-plot circle {
    /*fill:gainsboro;*/
    /*stroke:#222;*/
    /*fill:white;*/
    /*stroke-width:3;*/
}
svg.line-plot circle:hover {
    /*  fill:#222;*/
    /* stroke:gainsboro;*/
}
*/ .marker-text text {
    /*fill:orangered;*/
}

.y.axis g.tick:hover {
    fill: gainsboro;
}

svg.line-plot.inset circle{
    fill:#004F5B;
    stroke: none;
}

svg.line-plot.inset path.line{
    stroke:#006978;
    stroke-width:2px;
}


/*
.contractor-table td.contractor, .contractor-table th.contractor {

  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  line-height: 15px;
  position: relative;
}
*/

path.domain {
    fill: none;
    stroke: none;
}
/*
.axis path{
stroke:none;
fill:none;
}
*/

svg.line-plot .x.axis path.domain {
    stroke: #222;
}
svg.line-plot .y.axis path.domain {
    stroke: none;
}
svg.line-plot .y.axis .tick line {
    stroke: none;
}
/* Donut *************************************************************************************************** */

svg.donut {
    width: 100%;
    height: 100%;
    max-width: 600px;
}
g.legend text {
    font: 10px sans-serif;
}
svg.donut text.big-percent {
    font: 18px sans-serif;
    font-weight: 600;
    text-anchor: middle;
    baseline-shift: -5px;
}
svg.donut-small text.big-percent {
    font: 12px sans-serif;
    font-weight: 300;
    text-anchor: middle;
}
/* Bubble ************************************************************************************************** */

svg.bubble-plot {
    width: 100%;
    height: 350px;
}
.bubble-plot .x.axis path {
    stroke: black;
}
svg.bubble-plot g.row text {
    font-size: 12px;
}
.bubble-plot .row-bg rect {
    pointer-events: none;
    fill: #efefef;
}
.bubble-plot .bubble-node{
    fill: #888;
    stroke: none;
}
.bubble-plot .highlight{
/*    fill: #004F5B; */
}

/* Tease *************************************************************************************************** */
/*
.container{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
*/

div.container h1, div.container h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
}
div.container h3, div.container h4
/*div.container h5, div.container h6 */

{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
}
/* Jumbo ***/

section#tease .jumbotron {
    background: url(http://static.wamu.org/g/madden/wilson_bg.jpg) gainsboro;
    background-size: cover;
    background-position: bottom;
    color: white;
    float: left;
}
section#tease .jumbotron h1 {
    text-shadow: 1px 1px 1px #000;
}
section#tease .jumbotron p.intro {
    text-shadow: 1px 1px 1px #000;
}
.jumbotron.article {
    background: url(http://static.wamu.org/g/madden/wilson_main.jpg) gainsboro;
    float: left;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 600px;
    padding-top: 250px;
    max-width: 100%;
}
.jumbotron.article h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron.article h3 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron.article h4 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron p {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron .btn {
    text-shadow: none;
}

.panel.tabs {
    border: 0;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
}
@media (max-width: 480px) {
    .jumbotron.article {
        background: url(http://static.wamu.org/g/madden/wilson_main.jpg) gainsboro;
        float: left;
        background-size: cover;
        background-position: bottom;
        color: white;
        height: 500px;
        padding-top: 0;
    }
}
/* Nav Tabs *********************************************************************************************** */

.nav.nav-tabs {
    font-family: p22-underground, helvetica, arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 2.0em;
}
.nav.nav-tabs a, .nav.nav-tabs a:hover, .nav.nav-tabs a:visited {
    color: ##2A3683;
}
/* Foorm **********/

legend {
    font-family: Georgia, "Times New Roman", Times, serif;
}


/* Tooltip ************************************************************************************************** */

.d3-tip {
    line-height: 1;
    /*font-weight: 200;*/
    
    font-family: sans-serif;
    font-size: 9px;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: all;
    z-index: 999;
    border: solid 1px #333;
}
/*
.d3-tip dl { float:left; width:100%; }
.d3-tip dt,
.d3-tip dd { float:left; width: 50px; margin:0; padding:0; }
.d3-tip dt { padding-right:0.5em; }
*/
/* Creates a small triangle extender for the tooltip */
.d3-tip dl{
    margin-top:5px;
    margin-bottom:0;
}
.d3-tip dt{
    width:auto;
    border-top: solid 0.2em #888;
}

.d3-tip dd{
    margin-left: 10em;
}
.d3-tip.node {
  z-index:1004;
}
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #242900;
    position: absolute;
    pointer-events: none;
}
/* Northward tooltips */

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}
/* Eastward tooltips */

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}
/* Southward tooltips */

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}
/* Westward tooltips */

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

span.tooltip-contrib, span.tooltip-contract {
    font-weight: 600;
    line-height: 16px;
    font-size: 17px;
    /*color:white;*/
    
    color: white;
    pointer-events: none;
}
span.dv-badge {
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    display: inline-block;
    /*font-weight: 200;*/
    
    font-size: 9px;
    line-height: 1;
    padding: 3px 4px;
    position: relative;
    top: -1px;
    margin-left: 0;
    margin-right: 5px;
}
span.dv-badge.link {
    background-color: #F37061;
    border: 1px solid #F37061;
}
span.dv-badge a {
    color: white;
}
/*
.grid path { display: none; }
.grid .tick {
      stroke: #ccc;
      stroke-dasharray: 1px 3px;
      stroke-width: 1px;
      shape-rendering: crispEdges;
  }
  */

svg text {
    pointer-events: none;
}
span.label a, span.label a:hover, span.label a:active, span.label a:visited {
    color: white;
    text-decoration: none;
}
span.tt-link a {
    color: white;
}
span.tt-link a:hover {
    color: white;
    text-decoration: underline;
}
/* Tables *************************************************************************************** */

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0 0 11px 0;
    width: 100%;
    font: 12px/1.4 Arial, Helvetica, sans-serif;
}
table th {
    /*
            text-align: left;
            border-bottom: 2px solid #eee;
            vertical-align: bottom;
            padding: 0 10px 10px 10px;
            text-align: right;
        */
    
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    text-align: left;
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: right;
}
table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: right;
}
table th:nth-child(1), table td:nth-child(1) {
    text-align: left;
    padding-left: 0;
    font-weight: bold;
}
/* responsive table */

@media screen and (max-width: 480px) {
    table, tbody {
        display: block;
        width: 100%;
    }
    thead {
        display: none;
    }
    table tr, table th, table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }
    table tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 11px;
        margin-bottom: 11px;
    }
    table th[data-title]:before, table td[data-title]:before {
        content: attr(data-title)":\00A0";
        font-weight: bold;
    }
    table td {
        border: none;
        margin-bottom: 6px;
        color: #444;
    }
    table td:empty {
        display: none;
    }
    table td:first-child {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #333;
    }
    table td:first-child:before {
        content: '';
    }
    .table-responsive {
        border: 0;
    }
}
/*
.incumbent-table td.incumbent{
  font-weight: bold;
}
*/
/* Sections *************************************************************** */
/*
section{
  margin-top:2.0em;
  margin-bottom:2.0em;
}
*/

#official-graphics {
    margin-top: 2.0em;
}
/* Official tab ************************************************************ */

div#official-profile {
    margin-bottom: 2.0em;
    float: left;
    width: 100%;
}
div#official-profile div.donut {
    float: left;
    width: 50%;
    min-height: 200px;
}
div#official-profile div.bio {
    width: 50%;
    padding-right: 2.0em;
    float: left;
}
.bar-plot.small g.y.axis text {
    font: 10px sans-serif;
}
.donut-plot {
    width: 100%;
}
/* Weirdness */

div#official-profile h4 {
    pointer-events: none;
}
@media screen and (max-width: 600px) {
    div#official-profile div.bio {
        width: 100%;
    }
    div#official-profile div.donut {
        width: 100%;
    }
    div#official-profile .bar-plot {
        width: 100%;
    }
}
/* UI ******************************************************************* */

.btn-lg {
    margin-right: 1.0em !important;
    margin-bottom: 1.0em !important;
}
dl dt {
    white-space: normal !important;
}
.contract-emblem {
    fill: #4BABC2;
    /* #1186AC */
    
    stroke: none;
}
.contract-emblem-active {
    fill: #008194;
    /*#F37061;#EB5349*/
    
    stroke: none;
}
/* Markers ****************************************************************** */

line.marker-line {
    pointer-events: none;
    stroke-width: 1px;
    /*stroke :#242900;*/
    
    stroke: gainsboro;
    stroke-dasharray: 8px 8px;
    stroke-dashoffset: 12px;
}

circle.marker-ui {
    stroke: none;
    fill: rgba(0, 0, 0, 0.0);
    opacity: 0.0;
    cursor: pointer;
}
g.row{pointer-events:none;}
/* Zoom *********************************************************************** */

rect.pane {
    opacity: 0.0;
    pointer-events: all;
}

circle.big-node {
    stroke: none;
    fill: #656EB0;
    opacity: 0.0;
}
circle.scatter.highlight {
    fill: #004F5B;
    stroke: #004F5B; /*#242900;*/
    opacity: 1.0;
}
circle.scatter {
    fill: white;
    stroke: #222;
}
line.line {
    pointer-events: none;
    stroke-width: 2px;
    stroke: #242900;
    shape-rendering: crispEdges;
}
/* Article styles *********************************************************************** */

.articlebody p {
    width: 75%;
}
.graphframe {
    border-left: 3px solid #dfdfdf;
    padding-left: 4%;
    width: 39.7%;
    margin: 2% 0 20px 2%;
}
.pictureframe {
    width: 39.7%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.pictureframe img {
    max-width: 100%;
}
.caption {
    margin-top: 10px;
    color: #777;
    font-size: 11px;
    margin-bottom: 20px;    
}
.pullquote {
    padding: 2% 4%;
    width: 39.7%;
    margin: 2% 0 20px 2%;
    background-color: #f5f5f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}

@media (max-width: 850px) {
    .graphframe {
        width: 100%;
        border: 0;
        margin: 2% 0 20px 0;
        padding: 0;
    }
}
@media (max-width: 600px) {
    .pictureframe {
        width: 100%;
        margin-bottom: 1%;
    }
    .pullquote {
        padding: 2% 4%;
        width: 100%;
        margin: 0 0 20px 0;
        background-color: #f5f5f5;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
}

}
@media (max-width: 480px) {
    .articlebody p {
        width: 100%;
    }
}

h2.explore{
  padding-left:40px;
  background:url('http://static.wamu.org/g/madden/icon_52789.svg') no-repeat left center;
  background-size:contain;
}



