<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:ng="http://angularjs.org" ng-app="wamu_app" lang='en' id="ng-app">

<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="http://wamu.org/sites/wamu.org/themes/wamu_dh_zen/favicon.ico" type="image/vnd.microsoft.icon" />

    <meta property="og:title" content="The Cost Of D.C. Council’s Power Over Contracts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wamu.org/projects/paytoplay/" />
    <meta property="og:image" content="http://static.wamu.org/g/madden/wilson_main_tn.jpg" />
    <!--meta property="og:audio" content="audio-goes-here.mp3" /-->
    <meta property="og:description" content='Patrick Madden investigates: Does campaign cash have undue influence over how the D.C. Council approves contracts? WAMU 88.5 analyzed donations to Council members from contractors vying for business from the District of Columbia. The results point to a "pay to play" environment that needs serious reform, according to watchdog groups.' />
    <meta property="og:determiner" content="the" />
    <meta property="og:site_name" content="wamu885" />

    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@wamu885" />
    <meta name="twitter:title" content="The Cost Of D.C. Council’s Power Over Contracts" />
    <meta name="twitter:description" content='Patrick Madden investigates: Does campaign cash have undue influence over how the D.C. Council approves contracts? WAMU 88.5 analyzed donations to Council members from contractors vying for business from the District of Columbia. The results point to a "pay to play" environment that needs serious reform, according to watchdog groups.' />
    <meta name="twitter:image" content="http://static.wamu.org/g/madden/wilson_main.jpg" />
    <meta name="twitter:url" content="http://wamu.org/projects/paytoplay/" />

    <script src="script.prod.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" href="bower_components/angular-soundmanager2/examples/style.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>WAMU 88.5 Investigations: Pay to Play</title>

</head>

<body class="wamu-data">
	<sound-manager></sound-manager>

	<!--script>
	//debugger
	var base_tag = document.createElement('base'); base_tag.href = location.href;
document.getElementsByTagName('head')[0].insertBefore(base_tag,document.getElementsByTagName('head')[0].firstChild);</script-->
    <div ng-include="'views/wamu_nav.htm'"></div>
    <div class="container" style="float:none;">
        <div ng-switch on="renderAction">
            <div ng-switch-when="story.main">
                <ng-include src="'views/story_body.htm'"></ng-include>
            </div>

            <div ng-switch-default>


                <div class="row">
                    <div class="col-lg-12">
                        <section id="tease">
                            <div class="jumbotron">
                                <h1>The Cost of D.C. Council’s Power Over Contracts<br/><!--small>A WAMU 88.5 Investigation</small--></h1>
                                <!--p class="intro">Does campaign cash have undue influence over how the D.C. Council approves contracts? WAMU analyzed years of donations to Council members from contractors vying for business from the District of Columbia. The results point to a “pay to play” environment that needs serious reform, according to watchdog groups. Patrick Madden investigates.</p-->
                                <p>Does campaign cash have undue influence over how District of Columbia lawmakers approve contracts? In this special investigative report, WAMU 88.5’s Patrick Madden follows the money and explores whether the D.C. Council is perpetuating a “pay-to-play” environment for city contractors.</p>
                                <p><a class="btn btn-default btn-lg" role="button" ng-click="d3_scroll('listen')">Listen to the story</a><a class="btn btn-default btn-lg" role="button" ng-href="#story">Read the story</a><a class="btn btn-default btn-lg" ng-click="d3_scroll('explore')" role="button">Explore the data</a>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>


                <!--------------------------END TEASE SECTION-------------------------------->


                <div class="row" id="listen">
                    <div class="col-lg-12">
                    
                        <h2><!--span class="glyphicon glyphicon-stats"></span--><span class="glyphicon glyphicon-headphones" style="margin-right: 3px;"></span> Listen to the story <!--img src="views/img/Sparkline_dowjones-2.svg"/--></h2>
                        	
                            <p><div ng-include="'views/audio.htm'"></div> 
                            </p>

                        <!-- Navigation -->
                </div>
            </div>
                
                
                <div class="row" id="explore">
                    <div class="col-lg-12">
                    
                        <h2 class="explore"><!--span class="glyphicon glyphicon-stats"></span--> Explore the data <!--img src="views/img/Sparkline_dowjones-2.svg"/--></h2>
                        	
                            <!--p> WAMU analyzed more than 100,000 campaign contributions to D.C. officials and candidates using public records from the Office of Campaign Finance. The database includes donations from contractors, their employees and their family members. The reporters reached out to contractors ahead of publication to verify the affiliation of donors used in the database. The data will be updated as needed. Contact: <a href="mailto:dcproject@wamu.org">dcproject@wamu.org</a>
                            </p-->
                        
                        
<p>All contracts worth more than $1 million go to the D.C. Council for review after a city agency has picked the winning contractor&mdash;a power granted to no other state-level legislature. WAMU and the Investigative Reporting Workshop used legislative records to examine more than 1,000 contracts that were sent to the D.C. Council for approval from 2007 to 2014. The reporters also analyzed more than 100,000 campaign contributions to D.C. officials and candidates using public records from the Office of Campaign Finance. The database includes donations from contractors, their employees and their family members. Contact: <a href="mailto:dcproject@wamu.org">dcproject@wamu.org</a></p>
                        
                        <!--p><a class="btn btn-default" role="button" target="_self" href="data.csv"><span class="glyphicon glyphicon-save"></span> Download the raw data</a> 
                            </p-->

                        
                        
                       

                        <!-- Navigation -->
                        <div ng-include="'views/nav.htm'"></div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-switch on="renderAction">
            <div  id="contractors" ng-switch-when="contractors.list">
                <div id="overview" class="panel tabs" style="margin-top:2.0em;">
                    <dl class="dl-horizontal">
                        <dt style="white-space: normal;">Choose a contractor from the list to see:</dt>
                        <dd>
                            <ul>
                                <li>All campaign contributions relative to when its contracts went to the D.C. Council for approval.</li>
                                <li>Top recipients among candidates for D.C. elected office from 2005 to 2014.</li>
                                <li>The timing of contributions to individual candidates.</li>
                            </ul>
                        </dd>
                    </dl>

                </div>

                <section id="contractor-graphics">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Contractors</label>
                                <div class="col-sm-6">
                                    <ui-select ng-model="filters.contractors" theme="bootstrap">
                                        <ui-select-match placeholder="Select or search for a contractor...">{{$select.selected}}</ui-select-match>
                                        
                                        <ui-select-choices repeat="item in contractor_list | filter: $select.search">
                                            <div ng-bind-html="item | highlight: $select.search"></div>


                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <h2>{{filters.contractors}}</h2>
                 

                    <h4>Contributions and contract dates</h4>

                    <line-plot val="loaded" i="{{filters.contractors}}" style="height:200px"></line-plot>
                    
                    <div style="float: left; width: 100%;">
                        
                        <div style="float: left; width: 100%; margin-top: 10px; margin-bottom: 20px;"><img src="https://s3.amazonaws.com/static.wamu.org/g/madden/icon_donation.gif" border="0"> Contribution &nbsp;&nbsp;<img src="https://s3.amazonaws.com/static.wamu.org/g/madden/icon_contract.gif" border="0"> Contract approval date
                        <br/><small>* Maximum value of contract award.  The actual amount received by the contractor may be significantly less.</small>
 
                        </div>
                        
                        
                    </div>

                    <div style="row">

                        <h4>Top 10 recipients and contract dates</h4>
                        <!--div class="btn-group">
						  <input type="radio" ng-model="stuff" class="btn btn-default" name="stuff" value="total">Total Amount</input>
						  <input type="radio" ng-model="stuff"class="btn btn-default" name="stuff" value="contributions">Number of Contributions</input>
						  
						</div-->

                        <div class="row text-center">
                            <div class="btn-group btn-group-sm" data-toggle="buttons">
                                <span class="btn btn-default" ng-click="stuff='total'" ng-class="stuff=='total'?'active':''">
                                    <input type="radio" value="total">Total Dollar Amount
                                </span>
                                <span class="btn btn-default" ng-click="stuff='contributions'" ng-class="stuff=='contributions'?'active':''">
                                    <input type="radio" value="contributions">Number of Contributions
                                </span>
                            </div>
                        </div>
                        <bubble-plot val="loaded" y-accessor="contractorname" i="{{filters.contractors}}" z-accessor="{{stuff}}" top="10" class="bubble-plot big"></bubble-plot>
                        
                         <div style="float: left; width: 100%; margin-top: 10px; margin-bottom: 20px;"><img src="https://s3.amazonaws.com/static.wamu.org/g/madden/icon_contribution2.gif" border="0"> Contribution &nbsp;&nbsp;<img src="https://s3.amazonaws.com/static.wamu.org/g/madden/icon_contract.gif" border="0"> Contract approval date
                         <br/><small>* Maximum value of contract award.  The actual amount received by the contractor may be significantly less.</small>

                        </div>
                        

                    </div>

                    <div style="row">
                        <h4>Top recipients by dollar amount</h4>
                        <bar-plot val="loaded" y-accessor="contractorname" i="{{filters.contractors}}" top="10" class="big bar-plot"></bar-plot>
                    </div>
                </section>

                <section id="contractor-table">
                <div class="col-lg-12">
                	<hr/>
	                    <h2>Contractor Donations: The Relevance Of Timing</h2>
                
                    <p style="font-weight: normal;">Many states and municipalities restrict campaign finance contributions by contractors. D.C. law has no such restrictions. Sort the data below to see what percentage of contractors' donations came within one year or within two years of contract approval.</p><p>&nbsp;</p>

	                    <wamu-table class="contractor-table" data="contractor_metrics" sort-by="total_amount" columns="contractor_table.columns" formats="contractor_table.formats" totals="contractor_table.totals"></wamu-table>
	             </div>
                </section>
                <p>&nbsp;</p>
    <div  class="container">
  <h2>Methodology</h2>  
<p>WAMU and the Investigative Reporting Workshop obtained legislative records to analyze more than 1,000 contracts that were sent to the D.C. Council for approval from 2007 through January 2014. The reporters also analyzed more than 100,000 campaign contributions to D.C. officials and candidates from the Office of Campaign Finance from 2005 through January 2014.  This allowed us to capture contributions made two years before or two years after votes on the contracts.</p>

<p>The database includes donations from contractors, their employees and their family members.</p>
 
<p>The database has limitations. While city law requires individuals to disclose their employer when making campaign contributions, WAMU found this information on less than half of the donations on file with the Office of Campaign Finance. To identify the employer for contributors who didn’t list this information, WAMU used public records and internet databases to fill in the blanks. Connections between companies and their affiliates were made based on the addresses of the companies included, as well as documents such as legislative reports, court records and business registration files, and websites such as LinkedIn, OpenSecrets.org and Accurint. The reporters reached out to contractors ahead of publication to verify the affiliation of donors used in the database.</p>
 
<p>In addition, the reporters needed to connect corporate owners to their family members as the data do not explicitly make that connection. Any questionable ties were excluded, leaving a conservative total for the number of family members contributing to any given D.C. official or candidate.</p>
 
<p>The list of campaign contributors includes suspected members of Jeffery Thompson’s fundraising network. This list is based on several years of reporting, as well as internet searches, court documents and public records. Thompson and his affiliated donors often give the same amount of money to the same candidates on the same day. Several of these contributors have pleaded guilty to serving as “conduits” or straw donors for Thompson; federal investigators have said the total list of “conduits” is as high as 75. At least 15 candidates have received illegal fundraising from Thompson. </p>
 
<p>The data will be updated as needed. Contact: <a href="mailto:dcprojects@wamu.org">dcprojects@wamu.org</a></p>
        
        </div>
            </div>


            <div id="officials" ng-switch-when="officials.list">
                
                 <dl class="dl-horizontal" style="margin-top:2.0em;">
                        <dt style="white-space: normal;">Choose an official from the list to see:</dt>
                        <dd>
                            <ul>
                                <li>The official's percentage of fundraising from contractors.</li>
                                <li>The top contractor contributors for each official.</li>
                            </ul>
                        </dd>
                    </dl>
                
                <section id="official-graphics">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Officials</label>
                                <div class="col-sm-6">
                                    <ui-select ng-model="filters.candidates" theme="bootstrap" ng-disabled="disabled"
             reset-search-input="false">
                                        <ui-select-match placeholder="Select or search for an official...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in incumbent_list | filter: $select.search |orderBy:identity">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div id="official-profile">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>{{filters.candidates}}</h3>

                                <ng-include src="candidate_bio()"></ng-include>

                            </div>

                            <div ng-if="filters.candidates!='Adrian Fenty'" class="row">
                            <div class="col-lg-6">
                            	
                                <h4>Percentage of fundraising from contractors</h4>
                                <donut-chart data="fundraising_percentage" i="{{filters.candidates}}" class="donut-chart"></donut-chart>
                            	
                            </div>
                        </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Top 10 contractor contributors</h4>
                            <bar-plot val="loaded" y-accessor="candidatename" i="{{filters.candidates}}" top="10" class="bar-plot official" margins="{top: 5, right: 30, bottom: 15, left:240}"></bar-plot>
                        </div>

                    </div>
                    <!--/div-->
                </section>

			<div class="col-lg-12">
			<hr/>
			  <h2>Contractor Donations To Each Official</h2>
                <p>Many states and municipalities restrict campaign finance contributions by contractors. D.C. law has no such restrictions. Sort the data below to see what percentage of each official's campaign receipts came within one or within two years of a contract appearing before the D.C. Council.</p>

                
<p>&nbsp;</p>
                <wamu-table class="incumbent-table" data="inc_table" sort-by="percent_in_1" columns="incumbent_table.columns" totals="incumbent_table.totals" formats="incumbent_table.formats">
                </wamu-table>
                </div>
                <p>&nbsp;</p>
     <div  class="container">
  <h2>Methodology</h2>  
<p>WAMU and the Investigative Reporting Workshop obtained legislative records to analyze more than 1,000 contracts that were sent to the D.C. Council for approval from 2007 through January 2014. The reporters also analyzed more than 100,000 campaign contributions to D.C. officials and candidates from the Office of Campaign Finance from 2005 through January 2014.  This allowed us to capture contributions made two years before or two years after votes on the contracts.</p>

<p>The database includes donations from contractors, their employees and their family members.</p>
 
<p>The database has limitations. While city law requires individuals to disclose their employer when making campaign contributions, WAMU found this information on less than half of the donations on file with the Office of Campaign Finance. To identify the employer for contributors who didn’t list this information, WAMU used public records and internet databases to fill in the blanks. Connections between companies and their affiliates were made based on the addresses of the companies included, as well as documents such as legislative reports, court records and business registration files, and websites such as LinkedIn, OpenSecrets.org and Accurint. The reporters reached out to contractors ahead of publication to verify the affiliation of donors used in the database.</p>
 
<p>In addition, the reporters needed to connect corporate owners to their family members as the data do not explicitly make that connection. Any questionable ties were excluded, leaving a conservative total for the number of family members contributing to any given D.C. official or candidate.</p>

<p>The list of campaign contributors includes suspected members of Jeffery Thompson’s fundraising network. This list is based on several years of reporting, as well as internet searches, court documents and public records. Thompson and his affiliated donors often give the same amount of money to the same candidates on the same day. Several of these contributors have pleaded guilty to serving as “conduits” or straw donors for Thompson; federal investigators have said the total list of “conduits” is as high as 75. At least 15 candidates have received illegal fundraising from Thompson. </p>

 
<p>The data will be updated as needed. Contact: <a href="mailto:dcprojects@wamu.org">dcprojects@wamu.org</a></p>
        
        </div>           


            </div>
            <!--end officials switch-->
            
              <p>&nbsp;</p>


        </div>
        <!-- end ng-switch -->
    
  

    </div>
    



    
    <div ng-include="'views/wamu_footer.htm'"></div>

    <script type="text/javascript">
(function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = '//stream.publicbroadcasting.net/analytics/aajm.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- Typekit -->
<script src="//use.typekit.net/onq8fhg.js"></script>
<script>
try {
    Typekit.load();
} catch (e) {}
</script> 


</body>

</html>
