<select ng-model="filters.candidates" ng-options="candidate for candidate in candidate_list">
	<option value="">All candidates</option>
</select>
<select ng-model="filters.contractors" ng-options="contractor for contractor in contractor_list">
	<option value="">All contractors</option>
</select>