<!--       <a ng-href="#/" ng-class="{ on: isHome }">Contribution Breakdown</a> -
        <a ng-href="#/contractors" ng-class="{ on: isTest1 }">Contractor Breakdown</a> -
	    <a ng-href="#/incumbents/{{theName}}" ng-class="{ on: isTest3 }">Incumbents</a> -
        <a ng-href="#/sandbox" ng-class="{on: isSandbox }">Sandbox</a> - 
        <!--a href="#/reset/123" ng-class="{ on: isTest2 }">Reset</a-->

<ul class="nav nav-tabs nav-justified" role="tablist">
<!--li ng-class="{active : isHome}"><a ng-href="#contributions">Contributions</a></li-->
<li ng-class="{active : isOfficial}"><a ng-href="#officials?scrollTo=officials">Officials</a></li>
<li ng-class="{active : isContractor}"><a ng-href="#contractors?scrollTo=contractors">Contractors</a></li>
<!--li ng-class="{active : isSandbox}"><a ng-href="#sandbox">Sandbox</a></li-->
</ul>        