<div class="row articlebody">
<div class="col-lg-12">


<!-- Begin text -->

<p>Joe Lorenz says he was facing a tough choice: bundle campaign checks to D.C. Council member Muriel Bowser or risk losing any chance of keeping his firm’s contract.  </p> 

<p>Lorenz, the owner of a Baltimore-based landscaping firm, had won a five-year contract in 2010 to cut grass on city property. But a year later, when the contract came up for renewal, there was growing pressure from several Council members to let the contract expire and give it to another firm. </p> 

<p>It wasn’t a question of performance or money. His company was doing the work at half the cost of the losing bidder on the contract. But the competing company, Community Bridge Inc., was based in D.C. and promised to hire more city residents. The firm also had close political ties to several city lawmakers. Records show it made numerous campaign contributions to politicians and hired a politically-connected lawyer to press its case. </p> 

<p>As a judge for the city’s contracting board would later note: “Community Bridge lobbied the Council by attempting to stall, or end, the approval of the contract.” Community Bridge declined to comment for this story. </p> 

<p>Lorenz says aides representing Bowser, now the Democratic nominee for mayor, met with him ahead of a crucial Council hearing on the contract and told him she she would support him. </p> 

<p>Lorenz says there was never any conversation about political contributions, but he was told later by his lawyer that he needed to give money to her campaign. </p> 

<p>Lorenz says the advice he got was blunt: “If you don’t contribute to these guys, they are not going to speak on your behalf … it’s just as simple as that.” </p> 

<p>Lorenz, with his employees, bundled together 10 checks totaling $5,000 for Bowser’s campaign. </p> 

<p>But Lorenz, who had never donated to a D.C. politician before, started having second thoughts and says he ripped up the checks. “Once you go down that road there is no going back,” he said.</p> 
 
<p>Meanwhile, his competitor on the grass-cutting contract, Community Bridge Inc. donated four campaign checks that summer totaling $2,000 to Bowser’s campaign.</p> 

<p>The hearing, held in late October 2011, was a disaster for Lorenz.  Council member Marion Barry told him during the hearing that “no white company from Maryland” should expect do business in the District. Muriel Bowser, whom Lorenz says offered to support him, stayed on the sidelines. </p> 

<p>Bowser says XXX: RANDY WEISS, Lorenz’s lawyer says XXXX</p> 
 
<p>Lorenz lost the grass-cutting contract — and nearly his business. But he has no regrets about ripping up those checks and not making any political donations. </p> 

<p>He says it was never about the money; it was “the thought of being shaken down for doing your job.”</p> 

<p>“Once you start that,” he says, “you are going to be paying forever.”</p> 

<h4>subhed here</h4>

<p>A review of tens of thousands of city documents shows the decision faced by Lorenz is not unique. WAMU 88.5 examined more than 18,000 contracts — worth roughly $10 billion — that went to the D.C. Council for approval from 2007 to 2013. The Council is required to review and approve all contracts worth more than a $1 million. </p> 

<p>The investigation looked at which firms won these lucrative contracts and how much people connected to the firms donated to lawmakers. It analyzed contributions from the corporations, the employees of these corporations and their family members. </p> 

<p>WAMU 88.5 identified more than $5 million in political contributions from more than 300 firms with D.C. Council-approved contracts. More than half of this campaign cash was donated within a year of a contract coming up for approval. The money was a crucial source of fundraising as well: Nearly 20 percent of Council members’ campaign contributions analyzed by WAMU 88.5 came from firms seeking their approval for city contracts. </p> 

<p>Contributions often were made months and weeks ahead of when the contracts were voted on; in some cases, the campaign checks were dated the same day a firm’s lucrative contract was sent to the D.C. Council for approval.  </p> 

<p>Campaign finance experts say WAMU 88.5's investigation reveals a system plagued by the appearance of “pay-to-play” activity. </p> 

<p>“When it comes to the District of Columbia, I've long suspected that it's perhaps one of the worst abusers when it comes to pay-to-play corruption. This is the kind of database that gives a lot of credence to that,” said Craig Holman of Public Citizen, a nonprofit government watchdog group. </p> 

<p>Pay-to-play is the practice of corporations giving campaign donations in order to help secure government contracts. It rarely involves outright bribery; rather, the political donations more often involve firms seeking favorable consideration, according to Holman. </p> 

<p>“There are so many problems with pay-to-play corruption that it affects everybody — the taxpayers, the companies themselves, and even the politicians who play by that game,” he said. </p> 

<p>This type of dealmaking can waste taxpayer dollars, Holman said, because contracts are based on campaign contributions, not merit, and it causes legitimate businesses to “think twice” about bidding on government contracts. And it often leads to scandal for the politicians engaged in a pay-to-play climate. </p> 

<p>WAMU 88.5's investigation found some of the biggest winners in government contracting were also the biggest contributors to lawmakers’ campaigns. </p> 

<!-- Dual Bar -->

<h4>This will be a dual-bar</h4>
<bar-plot val="loaded" y-accessor="candidatename" i="Vincent Orange" top="10" class="big bar-plot" margins="{top:20,left:200,bottom:20,right:30}"></bar-plot>

<!-- End Dual Bar -->

<p>Take Fort Myer Construction, a local street-paving company. Aside from mega-contractor Jeffrey Thompson, who pleaded guilty to illegally funneling several millions dollars into local and federal campaigns, no contractor has donated more money to city politicians than Fort Myer Construction. The company — through its employees and family members — donated nearly a quarter of a million dollars to mayoral and Council campaigns over the past eight years. </p> 

<p>During that same time period, Fort Myer Construction was paid nearly a billion dollars by the city. The firm has excelled at winning highly competitive infrastructure projects: paving streets, making sidewalks and building with concrete. Since 2007, more than 40 firms have bid on these types of contracts, according to city records. Fort Myer Construction has won a third of them. </p> 

<p>WAMU 88.5 examined the timing of when these firms made donations and when lawmakers voted on the contracts. The analysis found dozens of examples of contractors making campaign contributions to city politicians around the same time their contracts were at the D.C. Council for approval. </p> 

<p>For example, on June 28, 2013, executives at Fort Myer Construction donated $10,000 to Council member Jack Evans — the same day a $1.7 million contract came to the Council for approval. Roughly two weeks later, on July 10, the firm had three more contracts up for review at city hall; on that same day another $10,000 was donated — this time to Council member Muriel Bowser.</p> 

<p>“XXXX coincidental XXXX”, said Christopher Kerns, general counsel for Fort Myer Construction. </p> 

<p>In addition to the case of Fort Myer Construction, the WAMU 88.5 investigation identified at least a dozen examples of firms or their employees making donations to lawmakers within a week or two of the the contract going to the D.C. Council for approval.</p> 

<p>In July 2010, on the same week the D.C. Council approved a $5 million contract for the construction firm Coakley Williams to design the Bald Eagle Recreation Center, the contractor donated three campaign checks to Council member Mary Cheh, then the chairwoman of the parks and recreation committee. Cheh said she was not aware of the donations and didn’t even know the contractor. </p> 

<p>“I would tell these persons that sent in contributions, valid on their face, that they have wasted their money, if they thought it meant any influence,” said Cheh, who supports restricting contractors from making campaign contributions. </p> 

<p>In January 2012, one week after the D.C. Council was sent a $1.8 million contract to review for Forney Enterprises, the contractor donated a pair of $500 campaign checks to Muriel Bowser. Four other Council members would receive campaign checks — totaling $10,000 — from Forney Enterprise over the following weeks. </p> 

<p>In March 2012, F&L Construction donated three $500 campaign checks to Marion Barry a few weeks after its $3.4 million contract was approved by the D.C. Council. Barry would later be censured and fined by the Council for accepting $4,000 in cash from the owner of F&L Construction. </p> 

<p>Examples like these worry government watchdogs because even just the appearance of a conflict of interest can have negative consequences. </p> 

<p>“If we think that the city of D.C. Council and mayor are being bought by government contractors – campaign contributions from these contractors – the appearance of corruption reflects our confidence in that government,” said Craig Holman of Public Citizen. </p> 

<p>Meredith McGehee, policy director at the Campaign Legal Center, said appearances of conflicts of interest “undermine public confidence that public officials are making decisions on the merit, which critically important in a democracy.”</p> 

<p>At least one D.C. Council member agrees that something is wrong with the system. </p> 

<p>“If it’s not a direct conflict, if it’s not a direct 'pay for play', there is certainly a big appearance of something wrong there that bothers me,” said David Grosso, an at-large member of the Council, who added that WAMU 88.5's findings make him “nervous” about how it looks. </p> 
 
<p>Grosso stands out among city lawmakers; when contracts come up for approval, he votes “present.” Grosso abstains on these votes to protest the Council’s role in approving contracts. The abstentions began shortly after he took office in 2012. He says he took a “deep dive” into the issue and realized “was very little review being done” by Council members.  

<p>“There was no real work at the Council to understand these contracts — no time or expertise.” said Grosso. </p> 

<p>Other Council members argue the timing of campaign checks and contract votes can lead to unfortunate coincidences — but it's not fair to assume that the process is corrupt. Fundraisers are often scheduled weeks, if not months, in advance; likewise, they have no control over when contracts are sent to them for approval. </p> 

<p>Council chairman Phil Mendelson said that while there have been instances of poorly timed contributions, he thinks the “the inappropriateness has been overblown in the public’s mind.”  </p> 

<p>“So for all of these supposed connections that are occurring, the reality is that it doesn’t exist,” said Mendelson. </p> 

<p>But Mendelson later said, when presented with evidence of a contractor — Wireless Generation — making a $1,000 donation to his campaign during the same week its contract was sent to the Council, that “it can be a problem.” </p> 

<p>“If there's the appearance that a person is giving money, and the contract he wants is getting approved, the appearance is not good, even if the recipient is unaware of that connection,” said Mendelson, who said he had never heard of the contributor, John XXX, head of Wireless Generation. </p> 
 
<p>The timing of contributions is important, according to campaign finance experts.</p>  

<p>“Contractors wouldn’t be making these contributions within these timeframes if they didn’t feel, as business people, they weren’t good investments,” said McGehee of the Campaign Legal Center. “You don’t expend your money — or your company’s money — unless you feel like you are going to get something in return.” </p> 

<p>WAMU 88.5's investigation into donations by firms with contracts before the D.C. Council revealed more than just a handful of poorly timed campaign donations. When all the contributions tied to these lucrative contracts are added up — more than 12,000 donations over an eight-year period — a much broader pattern of pay-to-play activity emerges. </p> 

<p>Records show that more than half the money — 55 percent — donated to city lawmakers by these firms came within a year of a contract vote. Over a two-year period, the percentage of campaign cash that comes from these contractors jumped to roughly 75 percent. </p> 

<p>In many states with “pay-to-play” laws, which places restrictions on government contractors giving money to lawmakers, political contributions made within these timeframes would be illegal. </p> 

<h4>subhed here</h4>

<p>Many contractors say that giving campaign contributions to politicians does not help their contracts win approval. In other words, they believe there is no quid pro quo, and that contracts are awarded based on track record and the ability to offer the lowest price. Council members may have the final approval over a contract, but they do not pick which firm wins in the procurement process.</p> 

<p>Many of these contracting companies also told WAMU 88.5 that donations made by individual employees or their family members are personal decisions and not tied to the firm’s business with the city. There are no laws in D.C. restricting employees at companies with government contracts from making campaign donations or supporting candidates running for office. </p> 

<p>Freddie Winston, head of F&L Construction, is long-time city contractor. He has no problem with government contractors giving campaign money to lawmakers. He said small business owners make political donations not to win contracts but to help elect the politicians who create a friendly environment for local businesses. 

<p>“I think they make contributions because they did their homework. They want the best people in the best position to be able to do right for [them],” Winston said. 

<p>Supporting one lawmaker with campaign contributions isn’t going to win over the entire Council, he said. “No one individual can persuade 12 other people to say ‘give that dude a contract or give his company a contract’ based on him giving a contribution. If he does, then there is a problem,” Winston said. </p> 

<p>But other contractors, such as Joe Lorenz, told WAMU 88.5 there is an expectation that if you do business with the city, you need to make political contributions to local lawmakers. And when a firm’s contract is sent to the D.C. Council for approval, the pressure to donate intensifies. </p> 

<p>In Lorenz’s case, he feels that because he didn’t give campaign money, he lost any chance of keeping his contract. </p> 

<p>“That’s a choice we chose not to take and these are the consequences of us not contributing. We will move on, and that’s how we choose to conduct ourselves,” Lorenz said.</p>  

<p>Other contractors believe that individual Council members can and do — in fact — intervene in the contracting process and they think that giving money to campaigns helps them keep their city contracts, and in some cases creates powerful allies.</p> 

<p>“We need to contribute. We just don’t want enemies out there,” said the owner of a construction firm that has won several Council-approved contracts. The contractor spoke to WAMU 88.5 on the condition of anonymity for fear of losing future government awards.</p>  

<p>For many years, for example, it took just one Council member to file a disapproval resolution  on a contract, a legislative maneuver that can delay the process for months. The contractor says he devised a simple solution to make sure his contracts aren’t tampered with by city lawmakers: Donate money to every Council member.</p>  

<p>“If the Council member sees the name of the firm that’s going to be awarded, he’s less likely to object if he knows the company. And the only way to know the company is through campaign contributions,” he said.</p>  

<p>Campaign finance expert Meredith McGhehee of the Campaign Legal Center said that when firms are forced to operate in this type of environment, the system becomes “a legalized shakedown.” </p> 

<p>“The notion that people are left with is this: ‘If you don’t pony up, you are somehow going to be hurt,” McGhehee said. </p> 

<!-- DC POLS Ranking -->

<h4> DC Pols ranking</h4>
<wamu-table 
								class="incumbent-table"
								data = "inc_table" 
								sort-by ="percent_in_1"
								columns = "incumbent_table.columns"
								totals = "incumbent_table.totals"
								formats = "incumbent_table.formats"
							>					
							</wamu-table>


<!-- End DC POLS Ranking -->

<p>From simple grass-cutting contracts to complicated lottery deals worth tens of millions of dollars, D.C. Council members have the final say over lucrative contracts. The reason is simple: every contract worth at least a million dollars must go to the 13-member Council for direct approval. It’s a power that no other legislature has in the U.S at the state level. </p> 

<p>The Council’s contracting authority is a result of the scandal-plagued 1980s and 1990s. By 1994, the city was facing financial ruin and the federal government was forced to takeover. Contracting approval was given to the Council to keep then-Mayor Marion Barry in check. 

<p>Most D.C. Council members argue that their approval of contracts is largely symbolic, and that almost all contracts sent to the Council are approved with little hassle or fanfare. They believe their contracting authority adds an extra level of oversight to make sure taxpayer dollars aren’t being wasted or abused. </p> 

<p>Mendelson, the Council chairman, said the contracting authority is a safeguard against improper procurements and provides more transparency about the process. </p> 

<p>“The problem is not the Council’s ability to approve contracts. The problem is campaign contributions,” Mendelson said. </p> 

<p>But Council member Grosso disagrees. Grosso says that because the Council already has the power over the budget and oversight of city agencies, the contracting power is unnecessary, and he fears it’s being abused by his colleagues to raise campaign dollars. </p> 
 
<p>“Who is most likely to give me money? Somebody who has business with the Council. And that is what's going on with these contracts that come before us,” Grosso said.</p> 

<p>The current system creates “a vast appearance of a conflict,” Grosso said, and “it needs to be stopped.”</p> 

<p>WAMU 88.5 analysis shows that Council members, once in office, rely heavily on campaign contributions from firms seeking their approval on contracts. For several lawmakers, nearly a third of their fundraising dollars came from these firms. </p> 

<p>Mary Cheh agrees that there is a dilemma: one hand, the Council is the last line of defense against improper contracts; on the other hand, she said it invites “mischief” from contractors who want to get over the finish line and might be encouraged to give contributions.</p> 

<!-- Percentage of total contrib -->

						<div style="width:33%;float:left;height:200px;">

						<h5>Vincent Orange</h4>
							<donut-chart data="fundraising_percentage" i="Vincent Orange"></donut-chart>	
						</div>
						<div style="width:33%;float:left;height:200px;">

						<h5>Marion Barry</h4>
							<donut-chart data="fundraising_percentage" i="Marion Barry"></donut-chart>	
						</div>
						<div style="width:33%;float:left;height:200px;">

						<h5>Muriel Bowser</h4>
							<donut-chart data="fundraising_percentage" i="Muriel Bowser"></donut-chart>	
						</div>


<!-- End percentage of total contrib -->

<p>Council member Vincent Orange has been publicly criticized by his colleagues for using the contract approval process to intervene on behalf of campaign contributors. </p> 

<p>He said he was trying save taxpayers $50 million when he went to bat for the losing contractor in the city’s parking meter contract in 2013. The company, World Wide Parking, had bundled nearly $40,000 for Orange through a wide assortment of affiliated corporations and limited liability companies. (The practice of bundling through LLCs has since been outlawed, though the ban goes into effect in 2015.) Orange wanted the Council to disapprove the contract and awarded to World Wide Parking, which had offered a lower bid. His efforts were unsuccessful.</p>  

<p>“I wasn’t carrying water for World Wide Parking,” said Orange. “I was carrying water for the citizens of the District of Columbia.”</p> 

<p>Orange also has had to answer questions about his fundraising ties to disgraced contractor Jeffrey Thompson. Thompson pleaded guilty earlier this year to illegally funneling millions of dollars in so-called “shadow” campaign funds and straw donations to city politicians. Orange, a major benefactor of Thompson’s campaign contributions, has denied any knowledge of Thompson’s illegal fundraising and hasn’t been charged by prosecutors. </p> 

<!-- Thompson / Orange timeline -->
<h4>Fort Myer Construction</h4>
					<!--line-plot val="loaded" i="Jeffrey Thompson" i2="Vincent Orange" range="['05/01/2010','06/01/2011']" style="height:150px;float:none;" scale="linear"></line-plot-->

            <line-plot val="loaded" i="Fort Myer Construction" range="['06/24/2013','07/11/2013']" group-by="day" style="height:150px;float:none;" scale="log"></line-plot>



<!-- end Thompson / Orange timeline -->






<p>As the Jeffrey Thompson scandal shows, a politicized contracting environment can have disastrous consequences for the city, its taxpayers and its politicians. </p> 

<p>Eleven people so far have pleaded guilty in the case, including four candidates for office and six people associated with Mayor Gray’s 2010 campaign. Gray hasn’t been charged but prosecutors have publicly accused him of knowing about the illegal scheme to help his campaign. Another disgraced politician, former Council member Michael Brown, admitted to receiving over $100,000 in illegal campaign funds from Thompson, as well as a $10,000 "personal loan" that was never expected to be repaid. </p> 

<p>Federal prosecutors say the Thompson case was never just about skirting campaign finance laws; it was about Thompson’s desire to keep the contracting dollars flowing. As Thompson himself told prosecutors in his plea agreement, he needed Gray to beat then-Mayor Adrian Fenty in 2010 to “improve the business climate” for his Medicaid company. He needed the mayor and a handful of allies on the D.C. Council to protect his hundreds of millions of dollars a year in public contracts. </p> 

<p>Critics of the city’s contracting approval process say the Jeffrey Thompson case is the result of a system that gives politicians the final say over billions of taxpayer dollars. Whether it’s a $300 million Medicaid-related award or a $1.7 million grass-cutting contract, watchdog groups say the mix of campaign dollars and government contracts creates an environment that rewards pay-to-play behavior. </p> 

<p>“It’s a corrupting system for all the players in it,” said McGheehee of the Campaign Legal Center.  “The ones that like it are the ones that have figured out how to play the game most effectively.” </p>  

<p>Joe Lorenz, the landscaper from Baltimore, says he refused to play. But he says the experience scarred him, personally and professionally. It took him several years to recover financially from the cancelled contract. He would like to come back to D.C. and compete for city work — he’s a businessman, after all. But he questions whether he’ll work in the District again. </p> 

<p>“At the end of the day, you can bid, you can win, you can be the best contractor out there, you can do the best work at the best price, and it doesn’t matter,” said Lorenz.  “All that matter is who gives you a thumbs up and a thumbs down.”</p> 

<h4>Subhed?</h4> 

<p>After the Jeffrey Thompson scandal broke, D.C. Attorney General Irving Nathan was tasked with drawing up new legislation to end pay-to-play activity in D.C. He pressed the Council to “sever the corrosive ties” between political contributions and government contracts. Nathan’s bill, introduced last year, would ban recipients of large city contracts from donating to lawmakers for at least a year.</p>  

<p>“The District’s system of public contracting shouldn’t be dogged by perceptions of favoritism, undue influence or even corruption,” Nathan testified before the Council. </p> 

<p>Other lawmakers have tried to reform the system. Grosso introduced a bill to strip the Council’s contracting authority. Mendelson proposed a different tack: His bill would ban any firm seeking a contract from making political contributions at all.</p> 

<p>But these legislative efforts have fallen short. Nathan and Grosso’s proposals have both failed. Mendelson hasn’t brought his own bill banning pay-to-play activity for a vote because he doesn’t think it will pass. </p> 

<p>Mendelson said Council members running for office “don’t want to mess with the system too much.”</p> 

<!-- End text -->
    
    </div> 
</div>