<style>
body {
    margin: 0;
    padding: 0;
}
div.content {
    width: 100%;
}
div#footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    /*margin: 0;*/
    
    padding: 20px 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 50px;
}
div#footer p {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
}
.content:before,
.content:after {
    content: "";
    display: table;
}
.content:after {
    clear: both;
}
.content {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}
</style>

<!-- nav -->

<div id="footer">
    
<p>Reporting: Patrick Madden<br>
Data analysis: Patrick Madden, Chris Baronavski, Rachel Baye<br>
Development and design: Chris Baronavski and Carrie Moskal <br>
</p>
    
<p>Support for this investigation comes from the Fund for Investigative Journalism.</p>
    
<p>Graduate journalism students Rachel Baye, Hoai-Tran Bui, Elyssa Pacchico and Christina Animashaun contributed to this investigation through a partnership between WAMU and the Investigative Reporting Workshop at American University. Special thanks to Chris Amico and David Donald.</p>
   

    <p>
        <small>Copyright &#169; WAMU 88.5 | <a href="http://www.american.edu/" target="_blank">American University Radio</a> | <a href="http://wamu.org/privacy_policy" target="_blank">Privacy Policy</a> | <a href="http://wamu.org/terms_of_use" target="_blank">Terms of Use</a>
        </small>
    </p>
</div>


<!-- End nav -->