<style>
body {
margin: 0;
padding: 0;
}

#social {
width: 100%;
background-color: #000;
color: #fff;
}

div.content {width:100%;
}

div#header img {
   margin-top:8px;
}
    
#wamu-logo {
    float: left;
    padding-left: 15px;
    margin-top: 5px;
}

#wamu-logo:hover{
  background:none !important;
  text-decoration:none;
}

#navcontainer {
    width: 100%; 
    background-color: #000;
    float: left;
    padding: 7px 0;
    margin-bottom: 2em;
}
    
div#header {
background-color: #000;
color: #fff;
font-family: p22-underground, helvetica, arial, sans-serif;
font-size: 14px;
height: 44px;
/*margin: 0;*/
padding: 0;
margin-bottom:2.0em;
}


.content:before,
.content:after {
    content: "";
    display: table;
} 
.content:after {
    clear: both;
}
.content {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.btn-default.orange {
    background-color: #f2652a;
    border-color: #f2652a;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.navicon {
	margin-top: 0 !important;
	margin-right: 15px;
}

a.twitterbtn:link, a.twitterbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0px;
}

a.twitterbtn:hover, a.twitterbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter_over.png);
	width: 43px;
	height: 35px;
	float: left;
}

a.facebookbtn:link, a.facebookbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0;
}

a.facebookbtn:hover, a.facebookbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook_over.png);
	width: 43px;
	height: 35px;
	float: left;
}
    
@media (max-width: 480px) {
 
#navcontainer {
    width: 100%; 
    padding: 5px 0; 
    background-color: #000;
}
    
#wamu-logo img {
    width: 90%;
}
    
.btn-default.orange {
    display: none;
}
   
}


</style>

<!-- nav -->


<div id="navcontainer">
<div id="wamu-logo"><a href="http://wamu.org/"><img src="https://s3.amazonaws.com/static.wamu.org/g/madden/wamu_hz.png" border="0"></a></div>
<div style="float: right;"><a class="twitterbtn" href="http://twitter.com/share?text=Early%20education:%20How%20military%20child%20development%20centers%20have%20become%20a%20national%20model&url=http://urlgoeshere/"></a> <a class="facebookbtn" href="http://www.facebook.com/sharer.php?u=http://urlgoeshere"></a><button type="button" class="btn btn-default orange">DONATE</button></div>
</div>


	
<!-- End nav -->