<style>
body {
margin: 0;
padding: 0;
}

#social {
width: 100%;
background-color: #000;
color: #fff;
}

div.content {width:100%;
}

#wamu-logo img {
    width: 250px;
    margin-top: 2px;
}
    
#wamu-logo {
    float: left;
    padding-left: 15px;
}

#wamu-logo:hover{
  background:none !important;
  text-decoration:none;
}

#navcontainer {
    width: 100%; 
    background-color: #000;
    float: left;
    padding: 7px 0;
    margin-bottom: 2em;
}
    
div#header {
background-color: #000;
color: #fff;
font-family: p22-underground, helvetica, arial, sans-serif;
font-size: 14px;
height: 44px;
/*margin: 0;*/
padding: 0;
margin-bottom:2.0em;
}


.content:before,
.content:after {
    content: "";
    display: table;
} 
.content:after {
    clear: both;
}
.content {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.btn-default.orange {
    background-color: #f2652a;
    border-color: #CD6600;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.navicon {
	margin-top: 0 !important;
	margin-right: 15px;
}

a.twitterbtn:link, a.twitterbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0px;
}

a.twitterbtn:hover, a.twitterbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter_over.png);
	width: 43px;
	height: 35px;
	float: left;
}

a.facebookbtn:link, a.facebookbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0;
}

a.facebookbtn:hover, a.facebookbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook_over.png);
	width: 43px;
	height: 35px;
	float: left;
}
    
@media (max-width: 480px) {
 
#navcontainer {
    width: 100%; 
    padding: 5px 0; 
    background-color: #000;
}
    
#wamu-logo img {
    width: 200px;
    margin-top: 5px;
}
    
.btn-default.orange {
    display: none;
}
   
}


</style>

<!-- nav -->


<div id="navcontainer">
<div id="wamu-logo"><a href="http://wamu.org/"><img ng-src="{{wamu_logo()}}" border="0"></a></div>
<div style="float: right;"><a class="twitterbtn" href="http://twitter.com/share?text=Campaign%20cash:%20Does%20it%20have%20undue influence%20over%20how%20DC%20Council%20approves%20contracts?%20&url=http://wamu.org/projects/paytoplay"></a> <a class="facebookbtn" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwamu.org%2Fprojects%2Fpaytoplay%2F"></a><button type="button" class="btn btn-default orange"><a href="http://wamu.org/support/donate/" target="_blank" style="color:white;text-decoration:none;">DONATE</a></button></div>
</div>


	
<!-- End nav -->