<style>
body {
margin: 0;
padding: 0;
}

#social {
width: 100%;
background-color: #000;
color: #fff;
}

div.content {width:100%;
}

div#header img {
   margin-top:8px;
}

div#header #wamu-logo:hover{
  background:none !important;
  text-decoration:none;
}


div#header {
width: 100%;
background-color: #000;
color: #fff;
font-family: p22-underground, helvetica, arial, sans-serif;
font-size: 14px;
height: 44px;
/*margin: 0;*/
padding: 0;
margin-bottom:2.0em;
}


.content:before,
.content:after {
    content: "";
    display: table;
} 
.content:after {
    clear: both;
}
.content {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


div#header ul.nav {
width: 100%;
display: inline;
list-style-type: none;
}

div#header ul.nav li {
float: left;
list-style-type: none;
line-height: 1em;
}

div#header ul.nav li a:link, div#header ul.nav li a:visited, div#header ul.nav li a:hover, div#header ul.nav li a:active {
text-decoration: none;
color: #fff;
display: inline;
line-height: 1em;
}

div#header ul.nav li.home a:link, div#header ul.nav li.home a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.news a:link, div#header ul.nav li.news a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.programs a:link, div#header ul.nav li.programs a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.schedule a:link, div#header ul.nav li.schedule a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.podcasts a:link, div#header ul.nav li.podcasts a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.community a:link, div#header ul.nav li.community a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.events a:link, div#header ul.nav li.events a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.support a:link, div#header ul.nav li.support a:visited {
padding: 15px;
float: left;
}

div#header ul.nav li.donate a:link, div#header ul.nav li.donate a:visited {
padding: 15px;
float: left;
background-color: #F2652A;
}

div#header ul.nav li.facebook a:link, div#header ul.nav li.facebook a:visited {
float: left;
height: 44px;
padding-top: 4px;
}

div#header ul.nav li.twitter a:link, div#header ul.nav li.twitter a:visited {
float: left;
height: 44px;
padding-top: 4px;
}

div#header ul.nav li.home a:hover {
background-color: black;
padding: 15px;
float: left;
text-decoration: underline;
}

div#header ul.nav li.news a:hover {
background-color: #8DC63F;
padding: 15px;
float: left;
}

div#header ul.nav li.programs a:hover {
background-color: #7CB16C;
padding: 15px;
float: left;
}

div#header ul.nav li.schedule a:hover {
background-color: #73C69D;
padding: 15px;
float: left;
}

div#header ul.nav li.podcasts a:hover {
background-color: #82C7EF;
padding: 15px;
float: left;
}

div#header ul.nav li.community a:hover {
background-color: #A5ACCF;
padding: 15px;
float: left;
}

div#header ul.nav li.events a:hover {
background-color: #FCB040;
padding: 15px;
float: left;
}

div#header ul.nav li.support a:hover {
background-color: #F7941E;
padding: 15px;
float: left;
}

div#header ul.nav li.donate a:hover {
background-color: #F2652A;
padding: 15px;
float: left;
}

div#header ul.nav li.facebook a:hover {
background-color: #3B5998;
height: 40px;
float: left;
}

div#header ul.nav li.twitter a:hover {
background-color: #2CAAE1;
height: 40px;
float: left;
}

.btn-default.orange {
    background-color: #f2652a;
    border-color: #f2652a;
    color: #fff;
}

.navicon {
	margin-top: 0 !important;
	margin-right: 15px;
}

a.twitterbtn:link, a.twitterbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 15px;
}

a.twitterbtn:hover, a.twitterbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_twitter_over.png);
	width: 43px;
	height: 35px;
	float: left;
}

a.facebookbtn:link, a.facebookbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 15px;
}

a.facebookbtn:hover, a.facebookbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/madden/ftm_facebook_over.png);
	width: 43px;
	height: 35px;
	float: left;
}

@media (max-width: 1200px) {
  li.events {
display: none;
}

li.community {
display: none;
}

}

@media (max-width: 1025px) {
li.support {
display: none;
}

li.podcasts {
display: none;
}
}

@media (max-width: 815px) {
li.schedule {
display: none;
}

li.programs {
display: none;
}
}


@media (max-width: 600px) {
li.news {
display: none;
}

li.home {
display: none;
}
}

@media (max-width: 450px) {
li.donate {
display: none;
}

li.facebook {
display: none;
}

li.twitter {
display: none;
}
}

</style>

<!-- nav -->

 <div id="header">
    <div class="content">


<div style="width: 98%; padding: 5px 1%; background-color: #000;">
<div style="float: left;">
	<a href="http://wamu.org/" id="wamu-logo">
		<img src="{{wamu_logo()}}" width="220" border="0" style="padding-left: 15px; padding-right: 15px;">
	</a>
</div>
<div style="float: right;"><a class="twitterbtn" href="http://twitter.com/share?text=Early%20education:%20How%20military%20child%20development%20centers%20have%20become%20a%20national%20model&url=http://urlgoeshere/"></a> <a class="facebookbtn" href="http://www.facebook.com/sharer.php?u=http://urlgoeshere"></a><button type="button" class="btn btn-warning">DONATE</button></div>
</div>



     </div>  
  </div>

	
<!-- End nav -->