<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
<dt>D.C. Council</dt> <dd>2001-2007</dd>
 <dt>Represented</dt> <dd>Ward 4</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 

</dl>
