<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Dec. 11, 2012 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>none</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 408<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8064 <br>
 <a href="mailto:abonds@dccouncil.us">abonds@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.anitabonds.com/">anitabonds.com</a></dd>
<dt>Twitter</dt><dd><a href="http://www.twitter.com/anitabondsdc" class="twitter">@anitabondsdc</a> </dd>
</dl>
