<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>D.C. Council</dt> <dd>1997-2009, 1985-1989</dd>
 <dt>Represented</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Republican Party</dd> 

</dl>
