<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2013 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Independent</dd> 
 <dt>Chairmanship</dt> <dd>none</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 406<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
  (202) 724-8105 <br>
 <a href="mailto:dgrosso@dccouncil.us">dgrosso@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.davidgrosso.org/">davidgrosso.org</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/cmdgrosso" class="twitter">@cmdgrosso</a> </dd>
</dl>
