<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>D.C. Council Term</dt> <dd>2007-2012</dd>
 <dt>Represented</dt> <dd>Ward 5</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 

</dl>
