<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2009 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>Ward 2</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Finance and Revenue</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 106<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8058 <br>
 <a href="mailto:jevans@dccouncil.us">jevans@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.jackevans.org/">jackevans.org</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/JackEvansWard2" class="twitter">@JackEvansWard2</a> </dd>
</dl>
