<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2011 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>Ward 1</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Human Services</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 105<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8181 <br>
 <a href="mailto:jgraham@dccouncil.us">jgraham@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.grahamwone.com/">grahamwone.com</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/jimgrahamward1" class="twitter">@jimgrahamward1</a> </dd>
</dl>
