<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>May 30, 2012 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>Ward 5</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Government Operations</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 506<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
  (202) 724-8028 <br>
 <a href="mailto:kmcduffie@dccouncil.us">kmcduffie@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.kenyanmcduffie.com/">kenyanmcduffie.com</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/CM_McDuffie" class="twitter">@CM_McDuffie</a> </dd>
</dl>
