<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2009 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>Ward 8</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>none</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 102<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
  (202) 724-8045 <br>
 <a href="mailto:mbarry@dccouncil.us">mbarry@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://dccouncil.us/council/marion-barry">dccouncil.us/council/marion-barry</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/marionbarryjr" class="twitter">@marionbarryjr</a> </dd>
</dl>
