<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2011 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>Ward 3</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Transportation and the Environment</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 108<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
(202) 724-8062 <br>
 <a href="mailto:mcheh@dccouncil.us">mcheh@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.marycheh.com/">marycheh.com</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/marycheh" class="twitter">@marycheh</a> </dd>
</dl>
