<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Nov. 29, 2012 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee of the Whole</dd> 
 <dt>Address</dt><dd><address> 
1350 Pennsylvania Avenue NW, Suite 504<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8032 <br>
 <a href="mailto:pmendelson@dccouncil.us">pmendelson@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://dcclims1.dccouncil.us/mendelson/">dcclims1.dccouncil.us/mendelson/</a></dd>

</dl>
