<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2011 - Jan. 2, 2015</dd>
 <dt>Represents</dt> <dd>Ward 6</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on the Judiciary and Public Safety</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 402<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
  (202) 724-8072 <br>
 <a href="mailto:twells@dccouncil.us">twells@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.tommywellsward6.com/">tommywellsward6.com</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/TommyWellsDC" class="twitter">@TommyWellsDC</a> </dd>
</dl>
