<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>May 10, 2011 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Business, Consumer and Regulatory Affairs</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 107<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8174 <br>
 <a href="mailto:vorange@dccouncil.us">vorange@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.vincentorangedc.com/">vincentorangedc.com/</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/VOrangeDC" class="twitter">@VOrangeDC</a> </dd>
</dl>
