<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2009 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>Ward 7</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd> Committee on Health</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 400<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
  (202) 724-8072 <br>
 <a href="mailto:yalexander@dccouncil.us">yalexander@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.yvettealexander.org/">yvettealexander.org</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/CMYMA" class="twitter">@CMYMA</a> </dd>
</dl>
